:host ::ng-deep .p-button.p-button-text {
  color: white !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

:host ::ng-deep .p-button.p-button-text:hover {
  background-color: rgb(55, 65, 81) !important;
}

:host ::ng-deep .p-button.p-button-text .p-button-icon {
  color: white !important;
}

:host ::ng-deep .p-button.p-button-text .p-button-label {
  color: white !important;
}
